.Modal {
    position: absolute;
    top: 20em;
    left: 10em;
    right: 10em;
    bottom: 20em;
    background-color: lightgoldenrodyellow;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
}

.employees {
    padding-top: 3em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.animalButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

.toastContainer {
    max-width: 300px;
}